@charset "utf-8";
* {margin: 0px;padding: 0px;}
body{width:100%; margin:0 auto;font:12px "宋体";}
img,select{border:0; vertical-align:middle;}
li{ list-style-type:none;
}
a{text-decoration:none;color:blue;
}
a:hover{ text-decoration:none;
}
a:VISITED{
	color:blue;
}
.blogs_nav a{text-decoration:none;color:#1D79A6
}
.blogs_nav a:hover{ text-decoration:underline;color:#1D79A6
}
.blogs_nav a:VISITED{
	color:#1D79A6
}
.blogs_top{background-color:#f7f7f7;
	height:26px; line-height:26px;
}
.blogs_top span{ float:right; margin-right:15px;
}
.blogs_top div{ margin-left:15px;
}
.blogs_main{ width:980px;  margin:0 auto; margin-top:30px;}
/*除了这个图片其他的都不能用,路径错误且无指定图片*/
.blogs_header{ width:980px; height:133px; background-image:url(../../images/blogs/header.png); background-repeat:no-repeat; color:#007dbd;
font-size:14px; font-weight:bold; border:1px solid #CCCCCC;
}
.blogs_headtop{ padding-top:30px;width:980px; float: left;
}
.blogs_headtop li{ margin-left:25px;}
.blogs_li1{ font-weight:normal; margin-top:4px;
}
.blogs_nav a{height:15px; line-height:15px; float:left; text-align:center; margin-left:50px; margin-top:28px; 
}
.blogs_maincenter{ width:980px; background-color: #f7ffff; margin-top: 20px; font-size: 24px;
}
.blogs_left{font-size: 20px;;clear:both; float:left; margin-top:10px; width:750px; min-height:500px;
}
.blogs_center{float:left;width:480px; margin-left:9px;margin-top:10px; min-height:500px;
}
.blogs_right{float:left;margin-left:9px; margin-top:10px; width:240px; min-height:500px;height:500px;
}
/*left*/
/*个人信息*/
.person_data{ width:240px; height:250px; border:1px solid #CCCCCC;
}
.person_data1{  height:33px; line-height:33px; background:url(../images/blogs_02.png);color:#007dbd;
}
.person_data1 h5{ font-weight:bold; font-size:14px; margin-left:10px;
} 
.person_data2{ text-align:center;
}
.person_data3 li{ text-align:center; margin-top:10px; }
/*统计信息*/
.person_sta{width:240px; height:220px; border:1px solid #CCCCCC; margin-top:5px;
}
.person_data2 p{ margin-bottom:10px; font-weight:bold; font-size:12px;
}
.person_data2 ul{ width:200px; text-align:left; margin:0 auto; margin-top:30px;
}
.person_data2 li{ width:80px; float:left; margin-top:10px;
}
.red{ color:#c67d84;
}
/*记录*/
.person_record{width:240px; height:270px; border:1px solid #CCCCCC;margin-top:5px;
}
/*中间*/
/*个人资料*/
.person_da{ width:480px; height:120px; border:1px solid #CCCCCC;
}
.person_da1 ul{ width:450px; margin:0 auto; margin-top:10px; height:40px; line-height:20px; border-bottom:1px dashed #CCCCCC;
}
.person_da1 li{ width:150px; float:left;
}
.person_da1 span{ float:right; margin-top:10px; margin-right:5px; color:#c67d84;
}
/*动态*/
.person_trends{width:480px; min-height:120px; border:1px solid #CCCCCC; margin-top:5px;
}
.person_trends1 ul{ width:450px;margin:0 auto;margin-top:10px; line-height:20px; margin-bottom:15px;
}
.person_trends1 li{ width:450px; border-bottom:1px dashed #CCCCCC;
}
.person_trends1 span{ float:right;
}
/*日志*/
.person_log{width:480px; height:120px; border:1px solid #CCCCCC; margin-top:5px;
}
.person_log1 ul{ width:450px;margin:0 auto;margin-top:10px; line-height:20px; margin-bottom:15px;
}
.person_log1 li{ width:450px; border-bottom:1px dashed #CCCCCC;
}
.person_log1 span{ float:right;
}
/*帖子*/
.person_theme{width:480px; height:120px; border:1px solid #CCCCCC; margin-top:5px;
}
.person_theme1 ul{ width:450px;margin:0 auto;margin-top:10px; line-height:20px; margin-bottom:15px;
}
.person_theme1 li{ width:450px; border-bottom:1px dashed #CCCCCC;
}
/*留言板*/
.person_leaveword{width:480px; min-height:300px; border:1px solid #CCCCCC; margin-top:5px;
}
.person_leaveword1 ul{ width:450px;margin:0 auto;margin-top:10px; line-height:20px; margin-bottom:15px;
}
.person_leaveword2 { border-bottom:1px dashed #CCCCCC; height:110px;
}
.person_leaveword1 textarea{width:450px;height:70px;border:solid 1px #ccc;overflow:auto;
}
.liuyan{background-image:url(../images/sousuoicon.png); width:51px; height:26px; margin-top:5px;
}
.person_leavewordimg{ margin-top:5px;
}
.person_leaveword3{ color:#999;width:370px;
}
.person_leaveword3 a{ font-weight:bold; color:#0f68b2;
}
.person_leaveword4{word-wrap: break-word; word-break: normal; width:370px; color:#444; min-height:40px;
}
/*右边*/
/*访客*/
.person_guest{ width:240px; height:270px; border:1px solid #CCCCCC;
}
.content{
	width:978px;height:400px;visibility:hidden;
}
/*我的位置导航*/
.asearch{ width:980px; height:34px; border:1px solid #CCC; background-color:#f2f2f2; margin-top:20px;
}
.asearch li{ float:left;
}
#zhuye{ margin-top:8px; margin-left:15px;
}
#zhexian{ width:77px; height:34px; background-image:url(../../images/bbs/icon12.png); margin-left:5px;
}
#zhexian2{width:68px; height:34px; background-image:url(../../images/bbs/icon12.png); margin-left:5px;}
#addphoto{width:75px; height:34px;margin-left:5px; float: right;}
#addphoto img{float: left;margin-top: 7px;}
#add{margin-left: -15px;}
.asearch a{color:#333; margin-top:10px; margin-left:15px; font:12px "宋体"; display:block; height:18PX; line-height:18PX;
}
.asearchrigeht{ float:right;
}
.asearchrigeht li{ margin-right:5px; margin-top:5px;
}
.atitlemetter{ height:80px; width:980px; border:1px solid #CCC; margin-top:10px;
}
.atitlemetter span{ float:right; margin-right:10px;
}
.atitlemetter li{ margin-top:5px; margin-left:10px;
}
.content{
	width:978px;height:400px;visibility:hidden;
}
/*放置相册分组的的总div*/
.center{width:978px;height:650px; margin-top: 10px;padding-left: 10px; border: 1px solid #ccc; float: left;}
.center_allgroup{width: 705px; min-height: 450px;float: left;  border: 1px solid #ccc;}
.center_context{width: 705px; min-height: 450px;float: left; border: 1px solid #ccc;}
.center_group{width: 170px; height:180px;margin-top:10px;padding-right:4px;
padding-bottom:4px;float: left;text-align: center;vertical-align:middle;}
.center_group2{padding-top:2px; vertical-align:middle; width: 151px;  height: 151px;background-image:url("../../images/blogs/groupbg.png");background-repeat:no-repeat; margin-bottom: 10px;}
.center_group2 img{max-width: 140px;max-height: 140px; text-align: center;}
.group{margin-top: 10px;padding-top: 10px;}
.right{float: left; text-align: center; text-align: center; width: 270px;}
.right img{margin-top: 10px; margin-bottom: 10px;}
/*隐藏的新建相册div*/
.tananswer {border: 1px solid #eee;	background-color: #fff;	width: 410px;border-radius: 4px;	padding: 8px;
padding-bottom: 20px;-webkit-box-shadow: 0px 0px 15px 3px #515151;-moz-box-shadow: 0px 0px 15px 3px #515151;}
.tananswer input{margin-top: 5px;}
button {padding: 2px;font-size: 10pt}
#reply {background-color: #7350cf;display: block;font-size: 13px;height: 18px;line-height: 18px;padding: 5px 15px;
	color: #fff;font-weight: bold;}
.tip {display: block;margin-top: 10px;margin-bottom: 5px;font-size: 10pt;}
.close {background: url("../../images/blogs/X.png") repeat scroll 0px 0 transparent;display: block; width : 30px;
height: 30px;position: absolute;top: -17px;right: -17px;z-index: 9999999;width: 30px;}
/*底部功能*/
.bottom{width: 705px;height:140px; border: 1px solid #eddbb4;}
.bottom ul{margin-left: 4px; margin-top: 10px;}
.bottom ul li img{margin-top: 10px;margin-bottom: 5px;}
.bottom ul li b{font-size: 14px;}
.myli{width: 170px;height:105px; float: left;margin-right: 4px;text-align: center;border-right: 1px dashed #eddbb4; }
.myli a{color: #777}
.center_form{width: 410px; height: 233px;background-image:url("../../images/blogs/log/bg.png");}
.center_box{margin-left:10px; margin-top:10px ;border: 1px #cccccc solid; width: 380px; height: 220px;0px ;}
.center_box input{border: 1px #cccccc solid; display: inline-block;}
.center_box h3 {padding:8px 0 0 20px;}
.center_box h4{ display: inline-block;color: #AC4701}
.center_box ul{margin-top:30px;}
.center_box li{margin: 10px; height: 30px;}
.pgleft{float: left;}
.feny{width: 600px; float: right;margin-bottom: 5px;padding-right: 300px;}
.p_info ul{ border: 1px solid #e6e6e6; width: 280px;padding-bottom: 5px;}
.p_info ul li{padding-top: 3px;}
.border{border: 1px solid #ccc; margin-top: 5px; padding-bottom: 5px;}
.logpinglun2{ border:1px solid #999; width:100px; height:20px; cursor:pointer;
}
.group_roght{width: 263px;height:600px; border: 1px solid #ccc; float: right;}
.group_roght img{display:block; text-align: center; padding-top: 5px;}
.photoclass{font:14px "宋体" ;margin-left: 20px;}
.groupSpan{float: left;}
.groupA{float: left;}
.p_fenlei li{margin-top: 20px; margin-left: 20px;}