@charset "utf-8";
*{margin: 0px;padding: 0px;}
img,input,select {vertical-align:middle;}
li{list-style-type:none}
body{width:100%; background:url(../../images/shop/shoppage/bg.jpg); font:14px}

.BUYCARTOPBOXTOP{ height:9px; background:url(../../shop/images/shoppage/BGTOP.jpg) no-repeat;width:990px; margin:0 auto;}
.BUYCARTOPBOXMAIN{background:url(../../images/shop/shoppage/BGMAIN.jpg) repeat-y;height:600px; width:990px; margin:0 auto;}
.BUYCARTOPBOXBOTTOM{ background:url(../../images/shop/shoppage/BGBOTTOM.jpg) no-repeat;width:990px; height:48PX;margin:0 auto;}

.BUYCARTOPBOXMAIN_1{ width:200px;float:left}
#BUYCARTOPBOXMAIN_1 img{ margin:10px; border:1px #FFF solid;}
.BUYCARTOPBOXMAIN_1 ul{ float:left}
#BUYCARTOPBOXMAIN_2 li{ margin-top:10px; width:120px}
#BUYCARTOPBOXMAIN_2 li a{font-size:12px; color:#666;text-decoration:none; margin-left:20px}
#BUYCARTOPBOXMAIN_2 li a:hover{ text-decoration:underline; color:#F00;}
#BUYCARTOPBOXMAIN_2 img{width:18px; height:18px;}
#BUYCARTOPBOXSPAN_1{color:#fe890b; font-size:14px; font-weight:bold; line-height:25px}
#BUYCARTOPBOXSPAN_2 img{ width:13px; height:17px;}

#BUYCARTOPBOXMAINUL{ background:url(../../images/shop/shoppage/THROWSUL_07.jpg) no-repeat; width:206px; height:120px; font:12px/29px Arial; text-align:center}
#BUYCARTOPBOXMAINLI{background:url(../../images/shop/shoppage/dot_03.jpg); height:29px; width:130px; margin-left:37px; margin-top:1px;}
#BUYCARTOPBOXMAINUL img{ width:17px; height:17px; margin-right:10px}

.BUYCARTOPBOXMAIN_2{ width:720px; float:left; margin-left:50px; font-size:14px; margin-top:20px; background:url(../../images/shop/rightdot.jpg); height:37px; line-height:37px;}

.BUYCARTOPBOXMAIN_2 span{ float:right}
#BUYCARTOPBOXSPAN_2_2{ margin-top:-3px; margin-right:10px}

.BUYCARTOPBOXMAIN_3{ width:720px;margin-left:50px;float:left; margin-top:30px}
.BUYCARTOPBOXMAIN_3 table{ border:1px solid #ccc;}
.BUYCARTOPBOXMAIN_3 th,.fenye{ height:30px; background:url(../../images/shop/shoppage/tablebg.jpg); font-size:13px; color:#656565; line-height:30px}
#td1,#td2,#td3,#td4,#td5,#td6{ border-right:1px solid #ccc; height:30px; font:12px/30px Arial, Helvetica, sans-serif; color:#666;}
#td1,#td3{ color:#ec6b03; font-weight:bold}
#td6 A{ text-decoration:none}
#tableth th img{ float:right;}
.BUYCARTOPBOXMAIN_2 a,.BUYCARTOPBOXMAIN_2 img{ border:0;}
.BUYCARTOPBOXMAIN_3 td{ border-top:1px solid #ccc;}
#td6{ border-right:0}
.fenye_ck{ border:1px solid #ccc; border-top:0; height: 30px; line-height: 30px;}
.fenye_ck span{ float:right; margin-right:10px}
.fenye_ck a{ color:#666666; margin-left:20px; text-decoration:none}
.fenye_ck input{ margin-top:-3px; margin-left:10px;}
#td4 input{text-align: center; vertical-align: middle;}
#td4 a{font-size:18px; text-decoration: none;vertical-align: middle; color: #666666; margin-left: 3px;margin-right: 3px;}
#sure_give_monney_ck{width:120px; height:50px; float: right; font-size:16px; line-height: 50px; text-align: center; font-weight: bold; color:#666666;margin-top:20px;}
#BUYCARTOPBOXMAINUL{color: #666666;}
#BUYCARTOPBOXMAINLI a{ text-decoration: none;color: #666666;}
#BUYCARTOPBOXMAINLI{color:#666666}
