@charset "utf-8";
* {margin: 0px;padding: 0px;}
a{ color:#FFF; text-decoration:none;
}
a:hover{ text-decoration:underline;
}
body{width:100%; margin:0 auto; overflow:visible; height:69px; background-image:url(../images/background/topbg.png);}
.logo{ background-image:url(../images/background/logo.png); width:200px; height:69px; display:block;
}
.top span{ float:right; margin-right:10px; height:69px; line-height:40px; color:#FFF;
}