@charset "utf-8";
* {margin: 0px;padding: 0px;}
body{ background-image:url(../../images/common/system/again.png);
}
img{ border:0;
}
a{ text-decoration:none; font-size:14px; color:#999;
}
i{font-style:normal;
}
li{ list-style-type:none;
}
.main{ margin:100px auto; width:500px; height:300px;border-radius: 10px; border:1px solid #d9d9d9; background-color:#FFF;
}
.main ul{ width: 480px; height:280px; margin:10px auto;
}
.main li{ float:left;
}
.li1{ width:150px;height:280px; line-height:280px;
}
.li1 img{ display:block; width:100px; height:100px; margin:90px auto;
}
.li2{ width:330px;height:280px; padding-top:70px;
}
.infomain{ width:330px; height:210px;
}
.infomain h1{ height:40px; line-height:40px; border-bottom:1px dashed #CCC;
}
.infomain div{ margin-top:5px; width:330px; height:140px;
}
.infomain{ color:#333; font-size:14px;
}